<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.ui.modelElementOpener">
      <modelElementOpener
            class="com.eclipsesource.makeithappen.ui.MailOpener">
         <staticTester
               modelElement="java.lang.Object"
               priority="1">
         </staticTester>
      </modelElementOpener>
   </extension>

</plugin>
